[submodule "Famefitzzz/Famefitzzz/Famefitzz"]
	path = Famefitzzz/Famefitzzz/Famefitzz
	url = https://github.com/Felixxflex/Famefitzzz.git
[submodule "Famefitzzz/Famefitzzz/rinku"]
	path = Famefitzzz/Famefitzzz/rinku
	url = https://github.com/Felixxflex/Famefitzzz.git
