<%if current_user == @user%>
<div class="profilepage">
<div class="container">
    <div class="main-body">
    
         
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4><%= @user.full_name%></h4>
                       <h6 class="mb-0"><%= @user.username%></h6>
                      <h6><%= @user.email%></h6>
                      
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                 
              </div>
              
             </div>
        </div>
    </div>
</div>

<%end%>