<div class="containerbanner"> 
<div class="row">
<div class="col-lg-12">
<div class="page-bg"></div>







<h1 class="scott1"><strong>Welcome to Famefitzz!</h1></strong>
<h2 class="scott3">Over <strong>+100 Instagram Outifts</strong>, simple and fast<br> 





<div class="newbutton">
<div class="button_container">
	<p class="description">Get startet!</p>
	<a href="/celebs"><button class="btnhome"><span>Search Fitz</span></button></a>
  <!--<p class="link">
    Design by 
    <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
  </p>-->
</div>
</div>





<h1 class="scott2">How does it work and why you need it?</h1>

<div class="containermockup"> 
    <div class="row">
        <div class="col-lg-6" >
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832141/046377FB-8CBE-4E07-ADA2-5F41A472B1FB_iphonexspacegrey_portrait_zbue8s.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6" >
            <div class="travis">
                <h2 class="scott">Every Day new Updates</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>



   <div class="row" >
        <div class="col-lg-6">
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832218/6B03B926-0F26-4E8D-9DCC-FBCDF00F5F81_iphonexspacegrey_portrait_hegcyw.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6">
            <div class="travis">
                <h2 class="scott">Links To The Shops</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>


    <div class="row">
        <div class="col-lg-6">
        <img class="imghome" src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1603832299/D7B73C5D-331E-4B59-9C8D-E6B01E893016_iphonexspacegrey_portrait_dbdvau.png" alt="travis scott"/>
        </div>
    



        <div class="col-lg-6">
            <div class="travis">
                <h2 class="scott">Send Us Your Proposition</h2>
                <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore </h3>
            </div>
        </div>
    </div>
</div>


<h2 class="scott3">Your favorite Instagramer is not on our List?</h2> 
<h3 class="scott4">Just send us a proposition!</h3>

<div class="newbutton">
<div class="button_container">
	<a href="/path/propositions/page"><button class="btnhome"><span>Send Us</span></button></a>
  <!--<p class="link">
    Design by 
    <a href="https://dribbble.com/skytrip" target="_blank">SkyTrip</a>
  </p>-->
</div>
</div>